.start-container {
  margin: auto;
  padding: 15px;
  /* margin-top: 300px; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.start-container img {
  width: max(22vw, 200px);
  border-radius: 12px;
  margin-bottom: 5px;
}
.start-container input {
  font-weight: bold;
  color: black;
  padding: 6px;
  outline: none;
}
